NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/staymate
JWT_SECRET=replace-with-at-least-32-random-characters
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=*
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

